@import "global/normalize.scss";
@import "global/fonts.scss";
@import "global/variables.scss";
@import "global/mixins.scss";
@import "global/global.scss";
@import "global/animation.scss";
@import "blocks/app.scss";
@import "blocks/promo.scss";
@import "blocks/task.scss";
@import "blocks/subtask.scss";
@import "blocks/checkbox.scss";
@import "blocks/add-form.scss";
@import "blocks/loader.scss";
@import "blocks/home.scss";
@import "blocks/filters.scss";
