// шрифт //
$font-family: "Philosopher", "Arial", sans-serif;
$font-title: "Salsa", "Arial", sans-serif;


// цвета  //

$black: #000000;
$white: #ffffff;
$blue: #2aaee4;
$bright-blue: #265a9f;
$border-gray: #a0b3cf;


// ширина экрана //


/** подготовка графики - ретина **/
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
