// шрифт //
$font-family: "Philosopher", "Arial", sans-serif;
$font-title: "Salsa", "Arial", sans-serif;


// цвета  //

$black: #000000;
$white: #ffffff;
$blue: #2aaee4;
$thumb-scroll: rgb(63%, 70%, 81%, 0.3);
$thumb-scroll-hover: rgb(63%, 70%, 81%, 1);
$bright-blue: #265a9f;
$border-gray: #a0b3cf;
$input-hover: rgb(15%, 35%, 62%, 0.1);


// ширина экрана //


/** подготовка графики - ретина **/
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
